@charset "UTF-8";

body{
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif ;

}

h1{
    color: blue;

}

h1#principal {
    text-align: center;
    color: brown;
    background-color: aliceblue;
}
.destaque{
    color: aliceblue;
    background-color: black;
}
h2{
    color: black;
}