@charset "UTF-8";


      body {
            background-color: aqua;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;

        }
        h1{
            color: darkblue;
            background-color: blueviolet;
            text-decoration: underline;
        }

        h2{
            color: darkred;
        }
        p{
            text-align: justify;
        }
